<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}IMC de Pacientes{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="brand">
          <img src="{{ url_for('static', filename='assets/images/logo.svg') }}" alt="IMCCheck Logo" class="logo">
          <a href="{{ url_for('index') }}" style="color:inherit;text-decoration:none;">IMCCheck</a>
        </div>
        {% if show_menu %}
        <ul class="menu">
          {% if session.get('user_name') %}
          <li style="color:rgb(52, 204, 38);">Bem Vindo {{ session.get('user_name') }}</li>
          {% endif %}
          <li><a href="{{ url_for('metas') }}">Metas</a></li>
          <li><a href="{{ url_for('registros') }}">Registros</a></li>
          <li><a href="{{ url_for('acompanhamento') }}">Acompanhamento</a></li>
          <li><a href="{{ url_for('atividades') }}">Atividades</a></li>
          <li><a href="{{ url_for('relatorio_atividades') }}">Relatório</a></li>
          <li style="margin-left:auto;"><a href="{{ url_for('login') }}">Logoff</a></li>
        </ul>
        {% endif %}
      </div>
    </nav>
    <main class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <section class="card">
            {% for category, message in messages %}
              <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          </section>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>